.hero-background {
    background-image: url('../../assets/images/bg-Hero.png');
    background-size: cover;
    width: 100%;
}

.ai-driven {
    background-image: url('../../assets/images/rectangle-blue.png');
    background-size: cover;
    width: 100%;
}

.ai-verified {
    background-image: url('../../assets/images/rectangle-blue-right.png');
    background-size: cover;
    width: 100%;
}