/* .hero-background {
    padding: 0 0 20px 0;
} */

.ai-driven {
    background-image: url('../../assets/images/rectangle-blue.png');
    background-size: cover;
    width: 100%;
}

.ai-verified {
    background-image: url('../../assets/images/rectangle-blue-right.png');
    background-size: cover;
    width: 100%;
}