.root {
  // background-color: rgb(22 32 49);
  background-color: white;

  input {
    color: black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    background-color: transparent;
    appearance: textfield;
  }

  input:focus {
    outline: none;
  }
}